body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('../assets/img/firebg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: flex-start; /* top align */
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 0;
}

.page_outer {
    background: white;
	width: 8.5in;
	min-height: 11in;
	box-shadow: -.1in -.1in .5in rgb(70, 70, 70), .1in .1in .5in rgb(47, 45, 45);
    display: flex;
    flex-direction: column;	
}

.page_inner{
	padding: 1in;  
}

.navbar ul {
    padding: 0;
    margin: 0;
    text-align: center;
    top: 0;
}

.navbar li {
    list-style-type: none;
}

.headline {
    font-size: 1.8em;
    font-weight: bold;
}

.subhead {
    font-size: 1.2em;
    font-weight: normal;
}